---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Nosotros</title>
	</head>
	<body>
        <a href="/">Inicio</a>
		<a href="/about">Sobre nosotros</a>
        <a href="/blog">Blog</a>
		<h1>Sobre nosotros</h1>
        <h2>Esta pagina es sobre nosotros y esta construida con Astro.</h2>
        <p>Somos un equipo de desarrolladores apasionados por la tecnologia y la creatividad.</p>
        <p>Creemos en el poder de la colaboracion y la innovacion para crear experiencias web excepcionales.</p>
	</body>
</html>
