---
const pageTitle = "Nuestro Blog";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Nuestro Blog</title>
	</head>
	<body>
		<a href="/">Inicio</a>
		<a href="/about">Sobre nosotros</a>
		<a href="/blog">Blog</a>
		<h1>{pageTitle}</h1>
        <p>Bienvenido a nuestro blog, donde compartimos las últimas novedades y artículos interesantes.</p>
        <ul>
            <li><a href="/posts/post-1">Artículo 1</a></li>
            <li><a href="/posts/post-2">Artículo 2</a></li>
            <li><a href="/posts/post-3">Artículo 3</a></li>
        </ul>
	</body>
</html>